@tailwind base;
@tailwind components;
@tailwind utilities;

.sulphur {
    font-family: var(--font-sulphur), sans-serif;
}
.jim {
    font-family: var(--font-jim), sans-serif;
}
.grecaptcha-badge {
    filter: brightness(0.3) opacity(0.5);
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
}
.grecaptcha-badge:hover {
    filter: brightness(1) opacity(1);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(122, 122, 122);
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background: rgb(122, 122, 122);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    border-radius: 20px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #313131;
}