@tailwind base;
@tailwind components;
@tailwind utilities;

.sulphur {
    font-family: var(--font-sulphur), sans-serif;
}
.jim {
    font-family: var(--font-jim), sans-serif;
}
.grecaptcha-badge {
    filter: brightness(0.3) opacity(0.5);
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
    pointer-events: none;
}
.grecaptcha-badge:hover {
    filter: brightness(1) opacity(1);
}
